<ng-container *ngIf="current; else noPreview">
  <div class="artist-info">
  <mat-card>
    <mat-card-header class="card-title">
      <div mat-card-avatar></div>
      <mat-card-title>{{current.name}}</mat-card-title>
      <mat-card-subtitle>{{current.origin.city}}, {{current.origin.country}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{current.imgUrl}}">
    <mat-card-content>
      <p>
        about {{current.name}} about {{current.name}} about {{current.name}} about {{current.name}}
        about {{current.name}} about {{current.name}} about {{current.name}} about {{current.name}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>
</ng-container>

<ng-template #noPreview>
  no artist to preview
</ng-template>
