<ng-container *ngIf="artist">
  <div class="card">
    <figure class="card__thumb">
      <img src="{{artist.imgUrl}}" alt="{{artist.name}}" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">{{artist.name}}</h2><br>
        <p class="card__snippet">about {{artist.name}} about {{artist.name}} about {{artist.name}} about {{artist.name}} about {{artist.name}}</p>
        <a (click)="navigateToArtistPage()" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>
  <button (click)="navigateToBookingPage()">Book Now!</button>
    <hs-heart [id]="'checkbox'"></hs-heart>
    <hs-heart [id]="'2'"></hs-heart>
</ng-container>


<!--<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">-->

<!--<div class="container">-->
<!--cards-->
<!--</div>-->
