<!--this is the subscription to artist$-->
<div *ngIf="(artist$ | async) as artist" class="artist-page-container">
  <h1>
    {{artist.name}}
  </h1>
  <img src="{{artist.imgUrl}}" alt="{{artist.name}}"><br>
  <app-favorites-heart (onFavChange)="clickFavorites($event)"></app-favorites-heart>
  <button mat-raised-button>Book Now!</button><br><br><br>
  <div>Origin: {{artist.origin.city}}, {{artist.origin.country}}</div><br>
  <div>
    {{artist.about}}
  </div><br><br>
<!--  example of adding a youtube video-->
  <iframe width="560" height="315" src="https://www.youtube.com/embed/8BglEyv5O2Y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>
