<!--this is the subscription to artist$-->
<div *ngIf="(artist$ | async) as artist" class="artist-page-container">
  <h1>
    {{artist.name}}
  </h1>
  <img src="{{artist.imgUrl}}" alt="{{artist.name}}"><br>
  <app-favorites-heart (onFavChange)="clickFavorites($event)"></app-favorites-heart><br><br>
  <div>Origin: {{artist.origin.city}}, {{artist.origin.country}}</div><br>
  <div>
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout
    aboutaboutaboutaboutaboutaboutaboutabout

  </div>

</div>
