<div class="slide-show">
  <!--  it drives me mad for now to see it scroll-->
  <!--  <app-slide-show></app-slide-show>-->
</div>

<div class="feed-grid-container" style="">
  <button (click)="onAddNewArtist()" mat-raised-button>Add new artist</button>
  <div class="cards-container">
  <ng-container *ngFor="let artist of allArtists$ | async">
    <app-artist-card [artist]="artist" (onEditArtistClick)="isEditing($event, artist)">
    </app-artist-card>
  </ng-container>
  </div>
  <ng-container *ngIf="showEditPopUp; then edit">

  </ng-container>
  <ng-template #edit>
    <app-new-artist (onCancelPopUp)="isEditing(!$event)" [isEdit]="isEdit" [artist]="artistToEdit"></app-new-artist>
  </ng-template>

  <!--  <button (click)="setAllArtists()">set all artists</button>-->
  <!--  option 1-->
  <!--  <ng-container *ngIf="allArtists$ | async as allArtists">-->
  <!--    <div *ngFor="let artist of allArtists">{{artist.name}}</div>-->
  <!--  </ng-container>-->

  <!--  option 2-->
  <!--  <div *ngFor="let artist of allArtists$ | async">{{artist.genres}}</div>-->


  <!--  <div class="artist-preview">-->
  <!--    <app-preview-artist></app-preview-artist>-->
  <!--  </div>-->

</div>

