<div class="slide-show">
<!--  it drives me mad for now to see it scroll-->
<!--  <app-slide-show></app-slide-show>-->
</div>

<div class="feed-grid-container" style="">
  <div class="cards-container">
    <!--  <div class="artist-card-list">-->
    <app-artist-card *ngFor="let artist of allArtists$ | async" [artist]="artist">
<!--                     (click)="setPreviewArtist(artist.id)">-->
    </app-artist-card>
    <!--  </div>-->
  </div>

<!--  <button (click)="setAllArtists()">set all artists</button>-->
  <!--  option 1-->
<!--  <ng-container *ngIf="allArtists$ | async as allArtists">-->
<!--    <div *ngFor="let artist of allArtists">{{artist.name}}</div>-->
<!--  </ng-container>-->

  <!--  option 2-->
<!--  <div *ngFor="let artist of allArtists$ | async">{{artist.genres}}</div>-->


  <!--  <div class="artist-preview">-->
  <!--    <app-preview-artist></app-preview-artist>-->
  <!--  </div>-->

</div>
