<h1>
  Compare Different Artists
</h1><br>
<div class="btns-flex-container">
<button mat-stroked-button (click)="onCompareAll()">Compare All Artists</button>
<button mat-stroked-button (click)="onShowArtistsFilter()">Choose Artists To Compare</button>
</div><br>

<ng-container *ngIf="showArtistsFilter">
<app-artists-filter (onCompare)="onCompareClick($event)" class="artist-filter"></app-artists-filter>
</ng-container><br>

<mat-form-field appearance="standard">
  <mat-label>Filter Artists</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter artists" #input>
</mat-form-field><br><br>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by {{column.columnDef}}">
      {{column.header}}
    </th>
    <td mat-cell *matCellDef="let row">
      {{column.cell(row)}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

</table>
