table{
  width: 100%;
}

h1{
  //margin-top: 5vw;
  //text-align: center;
}

.btns-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

:host{
.title-playfair {
  margin-left: 34%;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}

  .artist-filter{
    z-index: 30;
  }
  .filter{
    margin-left: 2px;
  }
}

