:host{
  button{
    margin:18px;
  }

  .artists-filter{
    margin-top: 32px;
    padding: 32px;
    text-align: center;
    margin-left: 32%;
    z-index: 20;
    width: 500px;
    height: 130px;
    background-color: rgba(242, 240, 244, 0.7);
    border-radius: 15px;
  }
}
