.login {
  border: solid black 1px;
  border-radius: 15px;
  width: fit-content;
  margin: auto;
  text-align: center;
  padding: 64px;
  background-color: rgba(60,60,60,0.7);
}

.login-text{
  color: #cccccc;
}

.login-container{
  padding: 215px;
  background-image: url("https://c.pxhere.com/photos/3a/fc/concert_person_hand_fan_party-8303.jpg!d");
  background-size: cover;
}
