<ng-container *ngIf="artist">
  <div class="card">
    <figure class="card__thumb">
      <img src="{{artist.imgUrl}}" alt="{{artist.name}}" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">{{artist.name}}</h2><br>
        <p class="card__snippet">about {{artist.name}} about {{artist.name}} about {{artist.name}} about {{artist.name}}
          about {{artist.name}}</p>
        <a (click)="navigateToArtistPage()" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>
  <button (click)="navigateToBookingPage()">Book Now!</button>
  <span class="card-additions">


<!--  <ng-container  *ngIf="(isGuest$ | async) as isGuest; then guestFav; else userFav">>-->
<!--  <ng-container  *ngIf="(isUserRegistered$ | async) as isUserRegistered; then guestFav; else userFav">>-->
  <!--  template if is guest-->
<!--  <ng-template #guestFav>-->
<!--    <app-favorites-heart [isDisabled]="true"></app-favorites-heart>-->
<!--  </ng-template>-->

<!--  template if not guest-->
<!--  <ng-template #userFav>-->
  <ng-container *ngIf="!(isFavChecked$ | async) && (isUserRegistered$ | async)">
    <app-favorites-heart (onFavChange)="clickFavorites($event)" [checked]="false"></app-favorites-heart>
  </ng-container>
  <ng-container *ngIf="(isFavChecked$ | async) && (isUserRegistered$ | async)">
    <app-favorites-heart (onFavChange)="clickFavorites($event)" [checked]="true"></app-favorites-heart>
  </ng-container>

    <ng-container *ngIf="!(isUserRegistered$ | async)">
      <app-favorites-heart [isDisabled]="true"></app-favorites-heart>
    </ng-container>

<!--  </ng-template>-->
  </span>
  </ng-container>


<!--</ng-container>-->
