<ng-container *ngIf="artist">
  <div class="card">
    <div *ngIf="(userType$ | async) === 'admin' && isFeed">
    <button mat-stroked-button class="card-admin-btn" (click)="onEditClick()">Edit</button>
    <button mat-stroked-button class="card-admin-btn" (click)="deleteArtist()">Delete</button>
    </div>
    <figure class="card__thumb">


      <img src="{{artist.imgUrl}}" alt="{{artist.name}}" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">{{artist.name}}</h2><br>
        <p class="card__snippet">
          {{artist.about}}
        </p>
        <a (click)="navigateToArtistPage()" class="card__button">Read more</a>
      </figcaption>
    </figure>

      <span class="card-additions">
  <button (click)="navigateToBookingPage()" mat-stroked-button class="book-btn">Book Now!</button>
  <ng-container *ngIf="!(isFavChecked$ | async) && (isUserRegistered$ | async)">
    <app-favorites-heart (onFavChange)="clickFavorites($event)" [checked]="false"></app-favorites-heart>
  </ng-container>
  <ng-container *ngIf="(isFavChecked$ | async) && (isUserRegistered$ | async)">
    <app-favorites-heart (onFavChange)="clickFavorites($event)" [checked]="true"></app-favorites-heart>
  </ng-container>

    <ng-container *ngIf="!(isUserRegistered$ | async)">
      <app-favorites-heart [isDisabled]="true"></app-favorites-heart>
    </ng-container>
  </span>


  </div>
  </ng-container>

