//:host {
//  display: grid;
//  grid-template:
//    "nav-bar nav-bar" 60px
//    "side-bar body" 1fr
//  / 100px 1fr;
//  height: 100vh;
//
//  app-nav-bar {
//grid-area: nav-bar;
//background-color: darksalmon;
//}
//
//  app-side-bar {
//    grid-area: side-bar;
//    background-color: mediumpurple;
//  }
//
//  .body {
//    grid-area: body;
//  }
//}

:host {
  //background-color: red;
  background-image: url("https://images.unsplash.com/photo-1507901747481-84a4f64fda6d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");
  background-size: cover;
  display: grid;
  grid-template-rows: 56px auto;
  //grid-template-columns: 1fr 75vw 1fr;
  grid-template-columns: 9vw 82vw 9vw;
  height: 100vh;

  app-nav-bar {
    //grid-row-end: 1;

    //grid-column-start: 2;
    grid-column-start: 1;
  }

  .body{
    //grid-row-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: auto;
    //background-color: #e6e6e6;
    background-color: rgba(255,255,255, 0.85);
  }

}

