.header-flx{
  display: flex;
  justify-content: space-between;
  padding: 32px;
  max-height: fit-content;
  background-color: rgba(149, 21, 86);
}

.profile-btn{
  border-radius: 15px;
  background-color: #755D87;
}
