.nav-container{
  //background-color: darksalmon;
  //background-color: rgba(60,60,60,0.2);
  background-color: rgba(117,93,135,0.8);
  //color: #E9B5D2;
  color: #e6e6e6;
  //color: black;
  width: 5vw;
  //height: 56px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 4vw;
  margin-top: 12vw;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

a{
  align-self: center;
  text-decoration: none;
  //color: #E9B5D2;
  //color: black;
  color: #e6e6e6;
}
