.nav-container{
  //background-color: darksalmon;
  background-color: rgba(60,60,60,0.2);
  color: #E9B5D2;
  height: 56px;
  display: flex;
  justify-content: space-around;
}

a{
  align-self: center;
  color: #E9B5D2;
}
