:host {
  display: grid;
  grid-template:
    "nav-bar nav-bar" 60px
    "side-bar body" 1fr
  / 100px 1fr;
  height: 100vh;

  app-nav-bar {
    grid-area: nav-bar;
    background-color: darksalmon;
  }

  app-side-bar {
    grid-area: side-bar;
    background-color: mediumpurple;
  }

  .body {
    grid-area: body;
  }
}
