:host{
.booking-form{
  margin-top: 15%;
  margin-left: 32.5%;
  background-color: rgba(255,255,255,0.5);
  padding: 50px;
  width: 35%;
  //margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title-playfair {
  //margin-left: 42%;
  //margin-top: 32px;
  margin-bottom: 32px;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}
}
